<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
    <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <div class="panel panel-primary" id="infCol">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Rastreio em Tempo Real <br /> {{date | date:'dd/MM/yyyy HH:mm:ss'}}
                </h3>
            </div>
            <div class="panel-body">
                <table id="tableInfo" class="table">
                    <tr>
                        <td>Veiculo: </td>
                        <td>{{dataDevice.device.imei}}</td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td><span class="label label-success">Seguro</span></td>
                    </tr>
                    <tr>
                        <td>Estacionado em:</td>
                        <td>Rua XXXX XXXXXXXXXX</td>
                    </tr>
                    <tr>
                        <td>Longitude:</td>
                        <td>221456421564</td>
                    </tr>
                    <tr>
                        <td>Latitude:</td>
                        <td>221456421564</td>
                    </tr>
                </table>
            </div>
        </div>
    </ul>
</nav>

<!-- Map -->
<section id="mapContainer" class="map">
    <div id="map_canvas"></div>
</section>

<!-- Custom Theme JavaScript -->
<script>
    initialize();
    // Closes the sidebar menu
    $("#menu-close").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>