<div class="row">
    <div class="col-md-4">
        <div class="col-md-12">
            <div class="panel panel-primary" id="infCol">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Rastreio em Tempo Real <br />28/10/14 08:28
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>Veiculo:</td>
                            <td>Celta</td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td><span class="label label-success">Seguro</span></td>
                        </tr>
                        <tr>
                            <td>Estacionado em:</td>
                            <td>Rua XXXX XXXXXXXXXX</td>
                        </tr>
                        <tr>
                            <td>Longitude:</td>
                            <td>221456421564</td>
                        </tr>
                        <tr>
                            <td>Latitude:</td>
                            <td>221456421564</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Ultimas Localizações
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>Status:</td>
                            <td><span class="label label-success">Seguro</span></td>
                        </tr>
                        <tr>
                            <td>Estacionado em:</td>
                            <td>Rua XXXX XXXXXXXXXX</td>
                        </tr>
                        <tr>
                            <td>Longitude:</td>
                            <td>221456421564</td>
                        </tr>
                        <tr>
                            <td>Latitude:</td>
                            <td>221456421564</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div id="map_canvas"></div>
    </div>

</div>

<script type="text/javascript">
    initialize();
</script>