<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
    <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <div class="panel panel-primary" id="infCol">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Rastreio em Tempo Real <br /> {{date| date:'dd/MM/yyyy HH:mm:ss'}}
                </h3>
            </div>
            <div class="panel-body">
                <table id="tableInfo" class="table">
                    <tr>
                        <td>Veiculo: </td>
                        <td>{{data.user.name}}</td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td><span class="label label-success">Seguro</span></td>
                    </tr>
                    <tr>
                        <td>Estacionado em:</td>
                        <td>Rua XXXX XXXXXXXXXX</td>
                    </tr>
                    <tr>
                        <td>Longitude:</td>
                        <td>221456421564</td>
                    </tr>
                    <tr>
                        <td>Latitude:</td>
                        <td>221456421564</td>
                    </tr>
                </table>
            </div>
        </div>
    </ul>
</nav>

<!-- Map -->
<section id="mapContainer" class="map" ng-controller="MapController">
    <ui-gmap-google-map center="map.center" options="options" zoom="map.zoom">

        <ui-gmap-marker
            idKey='1'
            coords='map.center'
            >
        </ui-gmap-marker>

    </ui-gmap-google-map>
</section>

<!-- Custom Theme JavaScript -->
<script>
    // Closes the sidebar menu
    $("#menu-close").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>